.navbar {
    box-shadow: 0 8px 6px -6px black;
}

.navbar {
    font-family: 'Titillium Web', sans-serif;
}

.navbar .navbar-brand {
    font-family: 'Titillium Web', sans-serif;
}

.active-link-tag {
    background-color: rgb(243, 243, 243);
    border-radius: 14px;
}

nav li a {
    color: #ef5350;
}