<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h2>About Us</h2>
                <p class="text-justify">We detect coron cases of India. You can see daily cases or cases in every state of India.</p>
            </div>
            <div class="col-sm-4">
                <h2>Contact Us</h2>
                    <ul>
                        <li>Email: arunpatel209@gmail.com</li>
                        <li>Phone: +91-xxxxxxx581</li>
                        <li>Address: Ganga Nagar, Meerut.</li>
                    </ul>
            </div>
            <div class="col-sm-4">
                <h2>Quick Link</h2>
                    <ul>
                        <li style="cursor: pointer;" routerLink="state-wise">State Wise</li>
                        <li>
                            <form class="example-form">
                                <mat-form-field class="example-full-width">
                                  <mat-label>Email</mat-label>
                                  <input matInput placeholder="Ex. pat@example.com">
                                  <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                                    Please enter a valid email address
                                  </mat-error>
                                  <mat-error *ngIf="emailFormControl.hasError('required')">
                                    Email is <strong>required</strong>
                                  </mat-error>
                                </mat-form-field>
                              </form>
                        </li>
                    </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <hr>
        <div class="row">
            <div class="col">
                <p class="copyright-text">
                    Copyright &copy; 2020 All Rights Reserved by 
                    <a  href="mailto:arunpatel209@gmail.com">Arun Patel</a>
                 </p>
            </div>
        </div>
    </div>
</footer>