<div class="container">
    <div class="row pt-5">
      <div class="col text-center mb-4 mt-1">
        <h1>Coronavirus (COVID-19) statics</h1>
        <hr>
      </div>
    </div>
    <div class="row">
        <div class="state-wise">
          <mat-spinner *ngIf="isLoading"></mat-spinner>
            <table class="table" *ngIf="!isLoading">
                <thead class="table-head">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Confirmed</th>
                    <th scope="col">Death</th>
                    <th scope="col">Recovered</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let state of stateWiseData">
                    <td>{{state.state}}</td>
                    <td>{{state.confirmed}}</td>
                    <td>{{state.deaths}}</td>
                    <td>{{state.recovered}}</td>
                  </tr>
                  
                </tbody>
              </table>
        </div>
    </div>
</div>

