.state-wise {
    width: 70%;
    margin: auto;
    padding: 10px;
    background-color: rgba(202, 202, 201, 0.795);
    font-family: 'Titillium Web', sans-serif;
}

.animate__animated.animate__backInLeft {
    --animate-duration: 3s;
    --animate-delay: 10.9s;
  }
  
  h1 {
    font-size: 3em;
    font-family: 'Lobster', cursive;
  }

.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  mat-accordion {
      margin-bottom: 10px;
  } 

  mat-spinner {
      margin: auto;
  }


  .table-head {
      background-color: #ef5350;
  }