.state-wise {
    width: 60%;
    margin: auto;
    padding: 10px;
    background-color: rgba(100, 99, 99, 0.267);
}

.mat-form-field + .mat-form-field {
    margin-left: 8px;
  }

  mat-accordion {
      margin-bottom: 10px;
  } 